<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" name="nombre" [class.is-invalid]="nombre.invalid && nombre.touched" [ngModel]='usuario.nombre' placeholder="Nombre" minlength="5" required #nombre="ngModel">

                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese al menos 5 caracteres</small>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" [class.is-invalid]="apellido.invalid && apellido.touched" [ngModel]='usuario.apellido' name="apellido" minlength="5" required #apellido="ngModel">

                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Ingrese al menos 5 caracteres</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" [class.is-invalid]="correo.invalid && correo.touched" [ngModel]='usuario.correo' name="correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #correo="ngModel" required>
            <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">El correo es obligatorio</small>


        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">

            <select class="form-control" name="pais" [disabled]="paises.length === 0" [ngModel]='usuario.pais' #pais="ngModel" [class.is-invalid]="pais.invalid && pais.touched" required>

          <option *ngFor="let pais of paises" [value]="pais.codigo">
            {{ pais.nombre }}
          </option>
        </select>
            <small *ngIf="pais.invalid && pais.touched" class="form-text text-danger">El pais es obligatorio</small>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Genero</label>
        <div class="col-8">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="M" [ngModel]='usuario.genero' required #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched">
                <label class="form-check-label">Masculino</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="F" [ngModel]='usuario.genero' required #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched">
                <label class="form-check-label">Femenino</label>
            </div>
            <small *ngIf="genero.invalid && genero.touched" class="form-text text-danger">Elija un genero</small>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>