<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="campoNoValido('nombre')">
                <small *ngIf="campoNoValido('nombre')" class="text-danger">Ingrese al menos 5 caracteres</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [class.is-invalid]="campoNoValido('apellido')">
                <small *ngIf="campoNoValido('apellido')" class="text-danger">Ingrese al menos 5 caracteres</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="campoNoValido('correo')">
            <small *ngIf="campoNoValido('correo')" class="text-danger">Ingrese el correo electronico</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Usuario</label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Nombre de usuario" formControlName="usuario" [class.is-invalid]="campoNoValido('usuario')">
            <small *ngIf="campoNoValido('usuario')" class="text-danger">Nombre de usuario ya en uso</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Contraseña" formControlName="pass1" [class.is-invalid]="passDiferentes()">
            <small *ngIf="passDiferentes()" class="text-danger">Ingrese la contraseña</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Repita Contraseña</label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Repita Contraseña" formControlName="pass2" [class.is-invalid]="passDiferentes()">
            <small *ngIf="passDiferentes()" class="text-danger">Repita la contraseña</small>
        </div>
    </div>


    <div class="form-group row" formGroupName="direccion">
        <label class="col-2 col-form-label">Dirección</label>
        <div class="form-row col">

            <div class="col">
                <input type="text" class="form-control" placeholder="Distrito" formControlName="distrito" [class.is-invalid]="campoNoValido('direccion.distrito')">
                <small *ngIf="campoNoValido('direccion.distrito')" class="text-danger">Ingrese el distrito</small>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad" [class.is-invalid]="campoNoValido('direccion.ciudad')">
                <small *ngIf="campoNoValido('direccion.ciudad')" class="text-danger">Ingrese la ciudad</small>
            </div>

        </div>
    </div>

    <div class="form-group row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Pasatiempo</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody formArrayName="pasatiempos">
                    <tr *ngFor="let control of pasatiempos.controls; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <input class="form-control" type="text" [formControlName]="i">
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="borrarPasatiempo(i)">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary mt-3 mb-5 btn-block" (click)="agregarPasatiempo()">+Agregar</button>

        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>


<br>
<pre>
  Estado del formulario: {{ forma.valid }}
  <br>
  Estado del formulario: {{ forma.status }}
</pre>

<pre>
  {{ forma.value | json }}
</pre>